<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>My Blogger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../plugins/themify/css/themify-icons.css">
</head>

<body>
    <div class="container">
    <div class="footer-padding">
        <div class="footer">
            <p>
                <script>document.write(new Date().getFullYear())</script> ; Designed & Developed by
                <a href="">65160024</a>. All rights reserved.
            </p>
        </div>
    </div>
</div>
</body>

</html>
