</div>
<div class="footer-padding"></div>
<div class="footer">
    <div class="col-lg-12">
    <p>
        
        <script>document.write(new Date().getFullYear())</script> ; Designed & Developed by
        <a href="">65160024</a>. All rights reserved.
        
    </p>
    </div>
</div>
</div>
</body>

</html>