<%- include("partials/header"); -%> <!-- รวมไฟล์ header.ejs เพื่อแสดงส่วนหัวของหน้าเว็บ -->

<div class="container">
    <h1 class="text-center my-4">Create a Post</h1> <!-- หัวข้อที่แสดงอยู่กลางหน้ากับเว้นช่องว่าง -->
    
    <!-- ฟอร์มสำหรับการสร้างโพสต์ใหม่ -->
    <form action="/compose" method="post">
        <div class="form-group">
            <!-- ฟิลด์ Subject -->
            <label for="postSubject">Subject</label>
            <input class="form-control" type="text" name="postSubject" id="postSubject" required>
            <!-- ฟิลด์สำหรับกรอกหัวข้อของโพสต์ -->
        </div>

        <div class="form-group">
            <!-- ฟิลด์ Title -->
            <label for="postTitle">Title</label>
            <input class="form-control" type="text" name="postTitle" id="postTitle" required>
            <!-- ฟิลด์สำหรับกรอกชื่อของโพสต์ -->
        </div>

        <div class="form-group">
            <!-- ฟิลด์ Content -->
            <label for="postBody">Post</label>
            <textarea class="form-control" name="postBody" id="postBody" rows="8" required></textarea>
            <!-- ฟิลด์สำหรับกรอกเนื้อหาของโพสต์ -->
        </div>

        <!-- ปุ่มสำหรับเผยแพร่โพสต์ -->
        <button class="btn btn-primary btn-block my-4" type="submit">Submit</button>
        <!-- ปุ่มที่ส่งข้อมูลฟอร์มไปยังเซิร์ฟเวอร์เมื่อคลิก -->
    </form>
</div>

<%- include("partials/footer"); -%> <!-- รวมไฟล์ footer.ejs เพื่อแสดงส่วนท้ายของหน้าเว็บ -->
